*{margin: 0 auto; padding: 0;}
body{
    /* vh는 높이값의 100분 1단위입니다.
        예를 들어 브라우저 높이값이 900px
        일때 1vh 는 9px라는 뜻입니다.
    */
    height: 100vh;
    text-align: center;
}
.login_form{
    position: relative;
    top: 50%;
    width: 400px;
}
.login_form > h1 {
    color: white;
    /* text-align: center; */
}
.int-area{
    width: 400px;
}
.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #fff;
}
.int-area input:focus{
    outline:none;
}
.int-area > label{
    position: absolute;
    top: -30px;
    left: -150px;
    font-size: 18px;
    color: white;
}

.login_form label[for="mem_id"]{
    top: 55px;
    left: 10px;
}
.login_form label[for="mem_like_num"]{
    top: 110px;
    left: 10px;
}

.btn-area > button{
    width: 420px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    background-color: #166cea;
    margin-top: 30px;
}
.caption_ul{
    display: flex;
    margin-top: 20px;
}
.caption_ul > li{
    list-style: none;
    font-size: 20px;
}
body{
    background-size: 100% 100%;
}

body::before{
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.login_form{
    z-index: 2;
}

.caption a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
 
#mem_id:focus + label{
    top: 35px;
    font-size: 13px;
    color: #166cea;
}
#mem_like_num:focus + label{
    top: 90px;
    font-size: 13px ;
    color: #166cea;
   
}

.int-area label{
    transition: all .5s ease;
    /* transition: all 은 top으로 이동될때
        모든 옵션(all)에 대해서 애니매이션 효과를 발생
        0.5초동안 ease 효과가 천천히 시작되어 
        중간에 빨라지고 다시 느려짐
    */
}
#mem_id:valid + label{
    top: 35px;
    font-size: 13px;
    color: #166cea;
}
#mem_like_num:valid + label{
    top: 90px;
    font-size: 13px;
    color: #166cea;
}

/*( .login_form{} )화면깨짐 방지하기 위해서 position: relative 스크롤 처리; */
.login_form{
    position: fixed;
    left: calc( 50% - 200px);
}


.int-area label.warning{
    color: red;
    animation-duration: .3s ease;
    
}
/* 버튼클릭액션 */
#btn_id:active{
	color: gray;
    
}